@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-item {
  @apply block px-4 py-2 w-full text-left hover:bg-blue-50;
}
.input {
  @apply border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-400 outline-none;
}

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-200 px-4 py-2 rounded-lg hover:bg-gray-300;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.home-content {
  max-width: 600px;
  padding: 20px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-outline {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.btn-outline:hover {
  background-color: #007bff;
  color: white;
}



